- set_fact:
    dme_dns: "{{ region | lower }}.dme"
  when: ( deploy_environ == 'main' ) or ( deploy_environ == 'prod' )

- set_fact:
    dme_dns: "{{ region | lower }}-{{ deploy_environ }}.dme"
  when:
    - deploy_environ != 'main'
    - deploy_environ != 'prod'

- name: Load locapi creds
  import_role:
    name: load-vault-creds
    tasks_from: locapi

- name: Get current deployment details
  k8s_info:
    name: dme
    kind: Deployment
    namespace: default
    kubeconfig: "{{ kubeconfig_file.path }}"
  register: dme_deployment

- name: Fetch DME vault role
  set_fact:
    dme_role: "{{ lookup('approle', dme_role_name) }}"
  vars:
    dme_role_name: "{{ region | lower }}.dme.v1"

- name: Deploy the Mex DME
  k8s:
    kubeconfig: "{{ kubeconfig_file.path }}"
    namespace: default
    state: present
    definition: "{{ lookup('template', 'deploy.yml.j2') }}"

- name: Deploy the DME autoscaler
  k8s:
    kubeconfig: "{{ kubeconfig_file.path }}"
    namespace: default
    state: present
    definition: "{{ lookup('template', 'hpa.yml.j2') }}"

- name: Deploy the Mex DME LB
  k8s:
    kubeconfig: "{{ kubeconfig_file.path }}"
    namespace: default
    state: present
    definition: "{{ lookup('template', 'lb.yml.j2') }}"

- name: Get DME Public IP
  command: "kubectl --kubeconfig {{ kubeconfig_file.path }} get svc -o jsonpath='{.status.loadBalancer.ingress[0].ip}' dme"
  register: dme_ip_command
  retries: 60
  delay: 5
  until: dme_ip_command.stdout != ""
  changed_when: false
  check_mode: no

- set_fact:
    dme_ip: "{{ dme_ip_command.stdout }}"

- name: Load cloudflare creds
  import_role:
    name: load-vault-creds
    tasks_from: cloudflare

- name: "Update DME DNS: {{ dme_dns }}"
  cloudflare_dns:
    zone: "{{ cloudflare_zone }}"
    record: "{{ dme_dns }}"
    value: "{{ dme_ip }}"
    type: A
    state: present
    solo: true
    account_email: "{{ cloudflare_account_email }}"
    account_api_token: "{{ cloudflare_account_api_token }}"

- name: Record DME details
  set_fact:
    dme_details: '{{ dme_details + [ {"region": region, "ip": dme_ip, "latitude": latitude, "longitude": longitude} ] }}'
