### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

vendor
openstack-tenant/agent/build

mc/mc
mc/mcctl/mcctl
mc/orm/dump.sql
mc/orm/*.csr
mc/orm/*.pem
mc/orm/vault.log
mc/orm/roles.yaml
*rbac.conf
mc/rbac.conf
*.postgres
ansible.auto.tfvars
.terraform.init.done
vault/letsencrypt-plugin/letsencrypt/version.go
/edgebox_bin
*.csr
*.pem
mgmt/vault/root-ca/openssl.cnf
mgmt/vault/root-ca/intermediate/openssl.cnf
mgmt/vault/root-ca/*.old
mgmt/vault/root-ca/index.txt*
mgmt/vault/root-ca/serial
mgmt/vault/root-ca/intermediate/index.txt*
mgmt/vault/root-ca/intermediate/serial

ansible/mex_inventory
ansible/playbooks/setup.yml

e2e-tests/chef/chef_guid
e2e-tests/chef/syntaxcache

# leftovers after regression tests
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
plugin/platform/common/foo

# unit-test file
mc/orm/alertmgr/testAlertMgrConfig.yml
mc/orm/testAlertMgrConfig.yml

# terraform vars
*.auto.tfvars
*.auto.tfvars.json
