[Unit]
Description=Mobiledgex Agent Service
Wants=network.target
After=network.target

[Service]
ExecStart=/bin/bash -ce "exec /usr/local/bin/mexosagent -debug -cert /root >> /root/mexosagent.log 2>&1"
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=multi-user.target
Alias=mexosagent.service
