---
- name: Install teleport
  import_role:
    name: teleport
    tasks_from: install
  vars:
    teleport_config_template: teleport.yaml.j2

- name: Create teleport config dir
  file:
    path: /etc/teleport
    state: directory
    owner: root
    group: root
    mode: 0700
  become: yes
  register: teleport_config_dir
  tags: config

- name: Load github credentials
  import_role:
    name: load-vault-creds
    tasks_from: teleport-github
  tags: config

- name: Install github auth config
  template:
    src: github.yaml.j2
    dest: "{{ teleport_config_dir.path }}/github.yaml"
    mode: 0400
  become: yes
  notify: Import github auth
  tags: config

- name: Install infra access roles
  include_role:
    name: teleport
    tasks_from: roles
  loop: "{{ setups.keys() }}"
  loop_control:
    loop_var: environ
  tags: config

- name: Set up audit-access role
  template:
    src: audit-access-role.yaml.j2
    dest: "{{ teleport_config_dir.path }}/audit-access-role.yaml"
  become: yes
  register: audit_role
  tags: config

- name: Apply audit-access role
  command: "tctl create -f {{ audit_role.dest }}"
  become: yes
  when: audit_role is changed
  tags: config

- name: Set up Ops access role
  template:
    src: ops-access-role.yaml.j2
    dest: "{{ teleport_config_dir.path }}/ops-access-role.yaml"
  become: yes
  register: ops_role

- name: Apply Ops access role
  command: "tctl create -f {{ ops_role.dest }}"
  become: yes
  when: ops_role is changed

- name: Set up Sonoral access role
  template:
    src: sonoral-access-role.yaml.j2
    dest: "{{ teleport_config_dir.path }}/sonoral-access-role.yaml"
  become: yes
  register: sonoral_role
  tags: config

- name: Apply Sonoral access role
  command: "tctl create -f {{ sonoral_role.dest }}"
  become: yes
  when: sonoral_role is changed
  tags: config

- name: Set up directory for vault roles
  file:
    path: /etc/vault_roles
    owner: root
    group: root
    mode: "0600"
    state: directory
  become: yes
  register: vault_roles_dir

- name: Set up kubernetes config publish script
  copy:
    src: kubeconfigs-publish.py
    dest: "{{ kubeconfig_publish }}"
    mode: "0500"
  become: yes

- name: Set up node token publish script
  copy:
    src: node-token-publish.py
    dest: "{{ node_token_publish }}"
    mode: "0500"
  become: yes

- name: Set up automation credentials publish jobs
  include_role:
    name: teleport
    tasks_from: automation_creds
  loop: "{{ setups | dict2items }}"
  loop_control:
    loop_var: setup
