- name: Look up harbor creds in vault
  set_fact:
    vault_lookup: "{{ lookup('vault', harbor_account_path) }}"

- set_fact:
    harbor_db_root_password: "{{ vault_lookup.harbor.data.db_root_password }}"
    harbor_initial_password: "{{ vault_lookup.harbor.data.initial_admin_password }}"
    harbor_admin_password: "{{ vault_lookup.harbor.data.admin_password }}"
