- name: Add influxdb apt key
  apt_key:
    url: https://repos.influxdata.com/influxdb.key
    state: present
  become: yes
  tags:
    - setup

- name: Add influxdb apt repository
  apt_repository:
    repo: "deb [arch=amd64] https://repos.influxdata.com/ubuntu {{ ubuntu_release }} stable"
  become: yes
  tags:
    - setup

- name: Install telegraf
  apt:
    name: telegraf
    state: present
    update_cache: yes
  become: yes
  tags:
    - setup

- block:
  - name: Look up telegraf credentials in vault
    set_fact:
      vault_lookup: "{{ lookup('vault', vault_telegraf_creds_path) }}"

  - set_fact:
      telegraf_user: "{{ vault_lookup.telegraf.data.user }}"
      telegraf_password: "{{ vault_lookup.telegraf.data.pass }}"
  when: telegraf_user is not defined or telegraf_password is not defined

- name: Install telegraf config
  template:
    src: telegraf.conf.j2
    dest: "{{ telegraf_config_path }}"
    owner: telegraf
    group: root
    mode: 0400
  become: yes
  notify:
    - Restart telegraf

- name: Install additional telegraf configs
  template:
    src: "{{ additional_conf_file }}"
    dest: "{{ telegraf_additional_config_path }}/{{ additional_conf_file | basename | regex_replace('\\.j2$', '') }}"
    owner: telegraf
    group: root
    mode: 0400
  become: yes
  notify:
    - Restart telegraf
  loop: "{{ telegraf_additional_config }}"
  loop_control:
    loop_var: additional_conf_file

- meta: flush_handlers
