apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: accesskey-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-dns01"
spec:
  tls:
  - hosts:
      - "{{ controller_hostname }}"
    secretName: accesskey-tls
  rules:
  - host: "{{ controller_hostname }}"
    http:
      paths:
      - backend:
          serviceName: controller
          servicePort: 41001
