apiVersion: v1
kind: Service
metadata:
  labels:
    task: alerting
    kubernetes.io/name: alertmanager
  name: alertmanager
spec:
  type: ClusterIP
  ports:
  - port: {{ alertmanager_port }}
    targetPort: {{ alertmanager_port }}
  selector:
    app: alertmanager
