{
  "role_id": "/providers/Microsoft.Authorization/roleDefinitions/0ab0b1a8-8aac-4efd-b8c2-3ee1fb270be8",
  "scope": "/subscriptions/{{ azure_subscription_id }}/resourcegroups/{{ resource_group }}"
}
