ui = true
api_addr = "https://{{ vault_vm_hostname }}:8200"
listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 0
  tls_cert_file = "/etc/letsencrypt/live/{{ vault_vm_hostname }}/fullchain.pem"
  tls_key_file = "/etc/letsencrypt/live/{{ vault_vm_hostname }}/privkey.pem"
}
storage "gcs" {
  bucket = "{{ storage_bucket_name }}"
}
