ui = true
api_addr = "https://{{ inventory_hostname }}:{{ vault_ha_instance_port }}"
cluster_addr = "https://{{ inventory_hostname }}:{{ vault_cluster_port }}"
listener "tcp" {
  address = "0.0.0.0:{{ vault_ha_instance_port }}"
  cluster_address  = "0.0.0.0:{{ vault_cluster_port }}"
  tls_disable = 0
  tls_cert_file = "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"
  tls_key_file = "/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem"
  x_forwarded_for_authorized_addrs = "35.191.0.0/16,130.211.0.0/22"
  x_forwarded_for_reject_not_authorized = "false"
  x_forwarded_for_reject_not_present = "false"
  x_forwarded_for_hop_skips = "1"
}
storage "raft" {
  path    = "/var/lib/vault"
  node_id = "{{ inventory_hostname_short }}"
}
plugin_directory = "{{ vault_plugin_directory }}"
telemetry {
  dogstatsd_addr   = "localhost:8125"
  disable_hostname = true
}
