apiVersion: v1
kind: Service
metadata:
  labels:
    app: thanosquery
  name: thanosquery
  namespace: default
spec:
  ports:
   - port: 29090
     name: http
     protocol: TCP
     targetPort: 29090
  selector:
    app: thanosquery
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: thanosrecv
  name: thanosrecv
  namespace: default
spec:
  ports:
   - port: 10907
     name: grpc
     protocol: TCP
     targetPort: 10907
   - port: 10908
     name: remotewrite
     protocol: TCP
     targetPort: 10908
  selector:
    app: thanosrecv
