#!/bin/bash
PATH='/usr/bin:/bin:/usr/local/bin'; export PATH

USAGE="usage: $( basename $0 ) <command>

  add <user> <division> Add Sonoral user account
  ls                    List Sonoral user accounts
  rm <user>             Remove Sonoral user account
"

add_user() {
    username="$1"
    division="$( echo $2 | tr 'A-Z' 'a-z' | sed 's/^sonoral-//' )"
    if [[ -z "$username" || -z "$division" ]]; then
        echo "usage: $( basename $0 ) $COMM <user> <division>" >&2
        exit 1
    fi
    case "$division" in
        sonoral|{{ sonoral_divisions|map('lower')|join('|') }}) true ;;
        *) echo "error: unknown division: $2" >&2; exit 1 ;;
    esac

    rolename="$division"
    [[ "$rolename" != sonoral ]] && rolename="sonoral-${rolename}"

    tctl users add "$1" --roles="$rolename"
}

ls_users() {
    # Print header and lines with "sonoral" in the roles column
    tctl users ls | awk 'NR < 3 || $2 ~ "sonoral"'
}

rm_user() {
    username="$1"
    if [[ -z "$username" ]]; then
        echo "usage: $( basename $0 ) $COMM <user>" >&2
        exit 1
    fi

    # Match username with "sonoral" in the roles column
    tefuser=$( tctl users ls | awk -v tefuser="$username" '$1 == tefuser && $2 ~ "sonoral" {print $1}' )
    if [[ "$username" != "$tefuser" ]]; then
        echo "error: user not found: $username" >&2
        exit 2
    fi

    tctl users rm "$username"
}

COMM="$1"; shift
case "$COMM" in
    add|create)         add_user "$1" "$2";;
    rm|remove|delete)   rm_user "$1" ;;
    ls|list)            ls_users ;;
    *)                  echo "$USAGE" >&2; exit 1 ;;
esac
