teleport:
  nodename: teleport
  data_dir: /var/lib/teleport
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: []
  diag_addr: ""
auth_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3025
  public_addr: {{ inventory_hostname }}:3025
  cluster_name: {{ inventory_hostname }}
  authentication:
    type: github
ssh_service:
  enabled: "yes"
  labels:
    env: bastion
proxy_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3023
  web_listen_addr: 0.0.0.0:443
  public_addr: {{ inventory_hostname }}:443
  kube_listen_addr: 0.0.0.0:3026
  https_keypairs: []
  acme:
    enabled: "yes"
    email: {{ mex_ops_email }}
