%no-protection
%echo Generating aptly signing key
Key-Type: RSA
Key-Length: 4096
Name-Real: MobiledgeX, Inc.
Name-Comment: Aptly Signing Key
Name-Email: {{ mex_ops_email }}
Expire-Date: 0
%commit
%echo Done
