apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-dns01
spec:
  acme:
    email: {{ mex_ops_email }}
    server: {{ acme_url }}
    privateKeySecretRef:
      name: letsencrypt-issuer-account-key
    solvers:
    - dns01:
        cloudflare:
          email: {{ cloudflare_account_email }}
          apiKeySecretRef:
            name: {{ cloudflare_secret }}
            key: {{ cloudflare_secret_key }}
