---
vault_version: 1.1.2
vault_checksum: sha256:e927fd4daac11f6c7b8b3f1f53f2017516e29e99585dc975b657acdeac43500b
vault_letsencrypt_plugin: "{{ artifactory_address }}/binaries/vault-letsencrypt-plugin/1.1/letsencrypt-plugin"
vault_letsencrypt_plugin_sha256sum: e111a2db44059d0e460178ec25eaab72c7b44667d5a0f89fcae18d37ad86155d
certgen_image_version: 2019-11-01

vault_github_teams:
  - name: edge-cloud-development-team
    policies:
      - default

vault_ldap_groups: []

vault_user_roles:

  viewer: &vault_user_role_viewer
    - ansible.read.v1
    - auth-approle.read.v1
    - aws-auth.read.v1
    - cloudlets.read.v1
    - chef.read.v1
    - gcp-auth.read.v1
    - influxdb.read.v1
    - mexenv.read.v1
    - noreplyemail.read.v1
    - pki-global-config.read.v1
    - pki-global-roles.read.v1
    - pki-regional-cloudlet-config.read.v1
    - pki-regional-cloudlet-roles.read.v1
    - pki-regional-config.read.v1
    - pki-regional-roles.read.v1
    - pki-root-config.read.v1
    - registry.read.v1
    - root-ca.read.v1
    - sys-auth.read.v1
    - sys-mounts.read.v1
    - sys-plugins-catalog.read.v1
    - sys-plugins-certs-config.read.v1
    - sys-policies.read.v1
    - ui-access.v1

  editor: &vault_user_role_editor
    - *vault_user_role_viewer
    - approle-accessors.write.v1
    - auth-approle.write.v1
    - auth-approle.destroy.v1
    - auth-github-config.read.v1
    - auth-ldap-config.read.v1
    - certs.read.v1
    - cloudlets.write.v1

  admin:
    - *vault_user_role_editor
    - baseimage-password.read.v1
    - baseimage-totp.read.v1
    - sys-auth.write.v1
    - sys-policies.write.v1

  edgebox_user:
    - certs.read.v1
    - mexenv.read.v1
    - registry.read.v1

  cloudlet_admin:
    - baseimage-password.read.v1
    - certs.read.v1
    - cloudlets.write.v1
    - gcp-auth.read.v1
    - influxdb.read.v1
    - mexenv.read.v1
    - registry.read.v1
    - ui-access.v1
