path "pki/tidy" {
  capabilities = [ "create", "update" ]
}

path "pki-global/tidy" {
  capabilities = [ "create", "update" ]
}

path "pki-regional/tidy" {
  capabilities = [ "create", "update" ]
}

path "pki-regional-cloudlet/tidy" {
  capabilities = [ "create", "update" ]
}
