path "secret/data/ansible/common/teleport-node-token" {
  capabilities = [ "create", "update" ]
}

path "secret/metadata/ansible/common/teleport-node-token" {
  capabilities = [ "create", "update" ]
}
