apiVersion: apps/v1
kind: Deployment
metadata:
  name: dme
  labels:
    app: dme
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dme
  template:
    metadata:
      labels:
        app: dme
    spec:
      containers:
      - name: dme
        image: "{{ edge_cloud_image }}:{{ edge_cloud_version }}"
        imagePullPolicy: Always
        command:
         - "/bin/bash"
         - "-ecx"
         - |
           vault-cert --vault "{{ vault_address }}" _.dme.mobiledgex.net
           exec dme-server \
             --region "{{ region }}" \
             --apiAddr 0.0.0.0:50051 \
             --httpAddr 0.0.0.0:38001 \
             --notifyAddrs controller:37001 \
             --tlsApiCertFile /tls/tls.crt \
             --tlsApiKeyFile /tls/tls.key \
             --vaultAddr "{{ vault_address }}" \
             --useVaultCerts \
             --locverurl "{{ locver_url }}" \
             --carrier "{{ dme_carrier }}" \
             --cloudletKey '{"organization":"{{ operator_key }}","name":"{{ deploy_target }}-cloudlet"}' \
             --toksrvurl "{{ toksrv_url }}" \
             -d locapi,dmedb,dmereq,notify
        livenessProbe:
          exec:
            command:
              - "vault-cert"
              - "--vault"
              - "{{ vault_address }}"
              - "--check"
              - _.dme.mobiledgex.net
          periodSeconds: 28800
          timeoutSeconds: 180
          initialDelaySeconds: 900
        env:
         - name: LOCAPI_USER
           value: "{{ locapi_user }}"
         - name: LOCAPI_PASSWD
           value: "{{ locapi_passwd }}"
         - name: VAULT_ROLE_ID
           value: "{{ dme_role.role_id }}"
         - name: VAULT_SECRET_ID
           value: "{{ dme_role.secret_id }}"
         - name: JAEGER_ENDPOINT
           value: "{{ jaeger_endpoint }}"
         - name: JAEGER_TAGS
           value: "environ={{ deploy_environ }},region={{ region }},version={{ edge_cloud_version }}"

      imagePullSecrets:
       - name: mexreg-secret
