apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: dme
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dme
  minReplicas: 2
  maxReplicas: {{ dme_replicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: "{{ ( dme_memory_request | human_to_bytes ) // 2 }}"
