---
- name: Install nginx
  apt:
    name: nginx
    state: present
  become: yes

- set_fact:
    nginx_installed: true

- name: Install nginx config
  template:
    src: "{{ nginx_config_template }}"
    dest: "/etc/nginx/sites-available/{{ nginx_config_filename }}"
    mode: 0644
    backup: yes
  become: yes
  when: nginx_config_template is defined
  notify:
    - Restart nginx

- name: Enable nginx config
  file:
    src: "/etc/nginx/sites-available/{{ nginx_config_filename }}"
    dest: "/etc/nginx/sites-enabled/{{ nginx_config_filename }}"
    state: link
  become: yes
  notify:
    - Restart nginx

- name: Disable server tokens
  lineinfile:
    path: /etc/nginx/nginx.conf
    regexp: "^\\s*#\\s*server_tokens off;"
    line: "	server_tokens off;"
  become: yes
  notify:
    - Restart nginx

- name: Allow telegraf access to logs
  acl:
    path: /var/log/nginx/access.log
    entity: telegraf
    etype: group
    permissions: r
    state: present
  become: yes

- name: Set up logrotate
  copy:
    src: logrotate.conf
    dest: /etc/logrotate.d/nginx
    mode: 0644
  become: yes

- import_tasks: certs.yml
  when: cert_domains is defined and cert_domains|length > 0
