---
- name: Load azure creds from vault
  import_role:
    name: load-vault-creds
    tasks_from: azure

- name: "Create resource group \"{{ platform_region.resource_group }}\" in \"{{ platform_region.location }}\""
  azure_rm_resourcegroup:
    name: "{{ platform_region.resource_group }}"
    location: "{{ platform_region.location }}"

- name: "Create kubernetes cluster \"{{ platform_region.name }}\""
  azure_rm_aks:
    name: "{{ platform_region.name }}"
    location: "{{ platform_region.location }}"
    resource_group: "{{ platform_region.resource_group }}"
    kubernetes_version: "{{ platform_region.kubernetes_version }}"
    dns_prefix: "{{ platform_region.dns_prefix }}"
    linux_profile:
      admin_username: "{{ vm_ssh_user }}"
      ssh_key: "{{ azure_ssh_key_pub }}\n"
    service_principal:
      client_id: "{{ azure_terraform_service_principal_id }}"
      client_secret: "{{ azure_terraform_service_principal_secret }}"
    agent_pool_profiles:
      - name: agentpool
        count: "{{ platform_k8s_pool_size }}"
        vm_size: "{{ platform_k8s_vm_size }}"
        enable_auto_scaling: True
        type: VirtualMachineScaleSets
        min_count: "{{ platform_k8s_pool_size }}"
        max_count: "{{ platform_k8s_pool_size_max }}"
    tags:
      Environment: "mexplat-{{ deploy_environ }}"
      Region: "{{ platform_region.region }}"

- name: Dump debug data
  block:
  - name: Load kubernetes facts
    azure_rm_aks_facts:
      name: "{{ platform_region.name }}"
      resource_group: "{{ platform_region.resource_group }}"
      show_kubeconfig: admin
    register: aks_facts
    check_mode: no
  - debug: var=aks_facts
  tags: [ 'never', 'debug' ]
