- hosts: localhost
  gather_facts: no
  tasks:
    - import_role:
        name: vault
        tasks_from: load-token
      tags:
        - setup
        - pki

- hosts: localhost
  gather_facts: no
  vars:
    github_org: mobiledgex
    github_token_ttl: 3600 # seconds
    ldap_token_ttl: 900 # seconds
    ca_ttl: "{{ 60 * 60 * 24 * 365 * 20 }}"    # 20 years
    pki_global: pki-global
    pki_regional: pki-regional
    pki_regional_cloudlet: pki-regional-cloudlet
  module_defaults:
    vault_policy:
      vault_addr: "{{ vault_address }}"
      vault_token: "{{ vault_token }}"
    vault_role:
      vault_addr: "{{ vault_address }}"
      vault_token: "{{ vault_token }}"
    vault_api:
      vault_addr: "{{ vault_address }}"
      vault_token: "{{ vault_token }}"
    vault_pki:
      vault_addr: "{{ vault_address }}"
      vault_token: "{{ vault_token }}"
    vault_pki_role:
      vault_addr: "{{ vault_address }}"
      vault_token: "{{ vault_token }}"

  tasks:

    - name: Get a list of enabled secret engines
      vault_api:
        api: sys/mounts
      register: secret_engines
      changed_when: no
      tags: setup

    - name: Get a list of enabled auth methods
      vault_api:
        api: sys/auth
      register: auth_methods
      changed_when: no
      tags: setup

    - name: Set up the SSH secrets engine
      include_role:
        name: vault
        tasks_from: ssh-secret-engine

    - name: Enable KV secret engines
      include_role:
        name: vault
        tasks_from: kv-secret-engine
      loop:
        - path: secret
          config:
            default_lease_ttl: 768h
            max_lease_ttl: 768h
        - path: jwtkeys
          kv_config:
            max_versions: 2
      loop_control:
        loop_var: secret_engine

    - set_fact:
        region_jwtkeys: "{{ region_jwtkeys|default([]) + [{'path': item.region + '/jwtkeys', 'kv_config': {'max_versions': 2}}] }}"
      with_items: "{{ regions }}"

    - name: Enable region-specific JWT keys engines
      include_role:
        name: vault
        tasks_from: kv-secret-engine
      loop: "{{ region_jwtkeys }}"
      loop_control:
        loop_var: secret_engine

    - name: Enable AppRole auth
      vault_api:
        api: sys/auth/approle
        method: POST
        data:
          type: approle
          description: AppRole auth method
        success_code: 204
      when:
        - "'approle/' not in auth_methods.meta.response"
      tags: setup

    - name: Enable Github auth
      vault_api:
        api: sys/auth/github
        method: POST
        data:
          type: github
          description: Log in with Github
        success_code: 204
      when:
        - "'github/' not in auth_methods.meta.response"
      tags: setup

    - name: Check Github auth config
      vault_api:
        api: auth/github/config
      register: result
      changed_when: no
      ignore_errors: yes
      tags: setup

    - name: Configure Github auth
      vault_api:
        api: auth/github/config
        method: POST
        data:
          organization: "{{ github_org }}"
          ttl: "{{ github_token_ttl }}s"
          max_ttl: "{{ github_token_ttl }}s"
        success_code: 204
      when: ("meta" not in result) or
            (result.meta.response.data.organization != github_org) or
            (result.meta.response.data.ttl != github_token_ttl) or
            (result.meta.response.data.max_ttl != github_token_ttl)
      tags: setup

    - include_role:
        name: vault
        tasks_from: github-teams
      loop: "{{ vault_github_teams }}"
      loop_control:
        loop_var: team
      tags: setup

    - include_role:
        name: vault
        tasks_from: github-users
      loop: "{{ vault_github_users }}"
      loop_control:
        loop_var: user
      tags: setup

    - name: Enable LDAP auth
      vault_api:
        api: sys/auth/ldap
        method: POST
        data:
          type: ldap
          description: Log in with MC LDAP
        success_code: 204
      when:
        - "'ldap/' not in auth_methods.meta.response"
      tags: setup

    - name: Check LDAP mount defaults
      vault_api:
        api: sys/mounts/auth/ldap/tune
      register: result
      changed_when: no
      tags: setup

    - name: Tune LDAP mount defaults
      vault_api:
        api: sys/mounts/auth/ldap/tune
        method: POST
        data:
          default_lease_ttl: "{{ ldap_token_ttl }}"
          max_lease_ttl: "{{ ldap_token_ttl }}"
          token_type: batch
        success_code: 204
      when: ("meta" not in result) or
            (result.meta.response.data.default_lease_ttl != ldap_token_ttl) or
            (result.meta.response.data.max_lease_ttl != ldap_token_ttl) or
            (result.meta.response.data.token_type != "batch")

    - name: Check LDAP auth config
      vault_api:
        api: auth/ldap/config
      register: result
      changed_when: no
      ignore_errors: yes
      tags: setup

    - set_fact:
        ldap_url: "ldaps://{{ console_vm_hostname }}:{{ mc_ldap_port }}"
        ldap_userdn: "ou=users"
        ldap_groupdn: "ou=orgs"
        ldap_userattr: cn
        ldap_groupattr: memberOf
        ldap_starttls: false

    - block:
      - name: Get mex CA cert
        set_fact:
          vault_lookup: "{{ lookup('vault', ca_path) }}"
        vars:
          ca_path: "{{ vault_mex_ca_cert_path }}:ca"
      rescue:
        - pause:
            prompt: "Please add the mex CA cert to the path: {{ vault_mex_ca_cert_path }}"
        - name: Get mex CA cert
          set_fact:
            vault_lookup: "{{ lookup('vault', ca_path) }}"
          vars:
            ca_path: "{{ vault_mex_ca_cert_path }}:ca"

    - set_fact:
        mex_ca_cert: "{{ vault_lookup.ca.data.pem }}"

    - name: Configure LDAP auth
      vault_api:
        api: auth/ldap/config
        method: POST
        data:
          url: "{{ ldap_url }}"
          userdn: "{{ ldap_userdn }}"
          groupdn: "{{ ldap_groupdn }}"
          userattr: "{{ ldap_userattr }}"
          groupattr: "{{ ldap_groupattr }}"
          certificate: "{{ mex_ca_cert }}"
          starttls: "{{ ldap_starttls }}"
        success_code: 204
      when: ("meta" not in result) or
            (result.meta.response.data.url != ldap_url) or
            (result.meta.response.data.userdn != ldap_userdn) or
            (result.meta.response.data.groupdn != ldap_groupdn) or
            (result.meta.response.data.userattr != ldap_userattr) or
            (result.meta.response.data.groupattr != ldap_groupattr) or
            (result.meta.response.data.certificate != mex_ca_cert) or
            (result.meta.response.data.starttls != ldap_starttls)
      tags: setup

    - include_role:
        name: vault
        tasks_from: ldap-groups
      loop: "{{ vault_ldap_groups }}"
      loop_control:
        loop_var: group
      tags: setup

    - import_role:
        name: vault
        tasks_from: policies
      tags:
        - policies
        - setup

    - import_role:
        name: vault
        tasks_from: roles
      tags:
        - roles
        - setup

    - name: Set up PKI
      block:

      - name: Enable root CA
        vault_pki:
          path: pki
          max_lease_ttl: "{{ ca_ttl }}"

      - name: Get root CA cert
        vault_api:
          api: pki/ca/pem
          success_code:
            - 200
            - 204
          raw_response: yes
        register: result

      - name: Set up the root cert
        block:

        - name: Generate root cert
          vault_api:
            api: pki/root/generate/internal
            method: POST
            data:
              common_name: root
              ou: "{{ deploy_environ }}"
              ttl: "{{ ca_ttl }}"
          when: offline_root_cert is not defined or not offline_root_cert

        - name: Wait for intermediate CA certificate to be set up
          pause:
            prompt: |
              Please set up the intermediate CA certificate.
              Refer to mgmt/vault/root-ca/README.md for details.
          when: offline_root_cert is defined and offline_root_cert

        - name: Check for root CA cert
          vault_api:
            api: pki/ca/pem
            raw_response: yes

        when: result.meta.response == ""

      - include_role:
          name: vault
          tasks_from: intermediate-ca
        loop:
          - "{{ pki_global }}"
          - "{{ pki_regional }}"
          - "{{ pki_regional_cloudlet }}"
        loop_control:
          loop_var: pki_name

      - name: "Create PKI role for {{ pki_global }}"
        vault_pki_role:
          path: "{{ pki_global }}"
          rolename: default
          allowed_domains: "{{ cloudflare_zone }}"
          allowed_uri_sans: "region://none"

      - include_role:
          name: vault
          tasks_from: pki-region-roles
        loop: "{{ regions }}"
        loop_control:
          loop_var: region

      tags: pki

    - import_role:
        name: vault
        tasks_from: cert-plugin
      tags:
        - setup
