apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  labels:
    app: controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      containers:
      - name: controller
        image: "{{ edge_cloud_image }}:{{ edge_cloud_version }}"
        imagePullPolicy: Always
        command:
         - "controller"
         - "--region"
         - "{{ region }}"
         - "--apiAddr"
         - "0.0.0.0:55001"
         - "--httpAddr"
         - "0.0.0.0:36001"
         - "--notifyAddr"
         - "0.0.0.0:37001"
         - "--etcdUrls"  
         - "mex-etcd-cluster:2379"
         - "--vaultAddr"
         - "https://{{ vault_vm_hostname }}:{{ vault_port }}"
         - "--influxAddr"
         - "http://monitoring-influxdb:8086"
         - "--tls"
         - "/root/tls/mex-server.crt"
         - "-autoUpgrade"
         - "-d"
         - "etcd,api,notify,upgrade"
        env:
         - name: VAULT_ROLE_ID
           value: "{{ ctrl_vault_app_role[region].role_id }}"
         - name: VAULT_SECRET_ID
           value: "{{ ctrl_vault_app_role[region].secret_id }}"

      imagePullSecrets:
       - name: mexreg-secret 

