apiVersion: apps/v1
kind: Deployment
metadata:
  name: "crm-{{ deploy_target }}"
  labels:
    app: "crm-{{ deploy_target }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "crm-{{ deploy_target }}"
  template:
    metadata:
      labels:
        app: "crm-{{ deploy_target }}"
    spec:
      containers:
      - name: "crm-{{ deploy_target }}"
        image: "{{ mex_docker_registry }}/edge-cloud:{{ edge_cloud_version }}"
        imagePullPolicy: Always
        command:
         - crmserver
        args:
         - "--apiAddr"
         - "0.0.0.0:{{ crm_api_port }}"
         - "--cloudletKey"
         - "{\"operator_key\":{\"name\":\"{{ operator_key }}\"},\"name\":\"{{ deploy_target }}-cloudlet\"}"
         - "--notifyAddrs"
         - "controller:37001"
         - "--tls"
         - "/root/tls/mex-server.crt"
         - "-d"
         - "api,notify,mexos"
        env:
          - name: OPENRC_URL
            value: "https://vault.mobiledgex.net/v1/secret/data/cloudlet/openstack/{{ openstack_instance }}/openrc.json"
          - name: MEXENV_URL
            value: https://vault.mobiledgex.net/v1/secret/data/cloudlet/openstack/mexenv.json
          - name: CLOUDLET_KIND
            value: openstack
          - name: PLATFORM
            value: openstack
          - name: MEX_EXT_NETWORK
            value: "{{ mex_ext_network }}"
          - name: VAULT_TOKEN
            value: "{{ vault_token }}"

      imagePullSecrets:
       - name: mexreg-secret

