apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: {{ name }}
spec:
  commonName: {{ fqdn }}
  secretName: {{ secret_name }}
  issuerRef:
    name: letsencrypt-dns01
    kind: ClusterIssuer
