apiVersion: v1
kind: Service
metadata:
  labels:
    task: monitoring
    kubernetes.io/name: {{ influxdb_name }}
  name: {{ influxdb_name }}
spec:
  type: LoadBalancer
  ports:
  - port: 8086
    targetPort: 8086
  selector:
    k8s-app: influxdb
  loadBalancerSourceRanges:
  {% for lb_source_ip in mexplat_k8s_source_ips | sort %}
  - {{ lb_source_ip }}/32
  {% endfor %}
